<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Fantastic Coffee</title>
</head>
<body>

    <div style="font-family: Arial, sans-serif; color: #333;">
        <h2>Welcome to Fantastic Coffee!,<%=first_name%> <%=last_name%></h2>
        <p>We are thrilled to announce that you have become a part of our coffee-loving community. At Fantastic Coffee, we are dedicated to providing you with the best coffee experience possible, with each bean carefully selected and brewed by top baristas.</p>
        <p>Starting today, you will receive:</p>
        <ul>
            <li>Information on new products and special events.</li>
            <li>Exclusive offers available only to members.</li>
            <li>Invitations to coffee brewing workshops hosted by us.</li>
        </ul>
        <p>We believe that coffee is not just a drink, but a passion and a way to express love for life. Join us on this wonderful journey of coffee and create memorable moments.</p>
        <p>Our commitment to quality and community is what sets us apart. We source our beans from the best farms around the world, ensuring that every cup you enjoy is a reflection of our dedication to excellence. Whether you're a coffee aficionado or just beginning to explore the rich world of coffee, we have something for everyone.</p>
        <p>Thank you for choosing Fantastic Coffee. We look forward to serving you and making your coffee experience unforgettable.</p>
        <p>Warm regards,<br>The Fantastic Coffee Team</p>
    </div>

</body>
</html>
